﻿doctype html
html(lang='es_LA', ng-app='app')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width,initial-scale=1, user-scalable=no')
		meta(name='theme-color', content='#EEEEEE')
		title(ng-bind='title')
		base(href='/')
		link(rel='icon', sizes='192x192', href='http://apreciodepana.com/favicon.ico')
		link(rel='stylesheet', href='stylesheets/metisMenu.min.css')
		link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='stylesheets/bootstrap.theme.css')
		link(rel='stylesheet', href='stylesheets/default.css')
		link(rel='stylesheet', href='stylesheets/default.date.css')
		link(rel='stylesheet', href='stylesheets/default.time.css')
		link(rel='stylesheet', href='stylesheets/angular-toastr.min.css')
		link(rel='stylesheet', href='stylesheets/style.css')
		link(rel='stylesheet', href='stylesheets/loading-bar.css')
		link(rel='stylesheet', href="stylesheets/angular-multiple-select.css")
		link(rel='stylesheet', href='stylesheets/angucomplete-alt.css')
		link(rel='stylesheet', href='stylesheets/ng-sortable.css')
		link(rel='stylesheet', href='stylesheets/ng-sortable.style.css')
		link(rel='stylesheet', href='stylesheets/font-awesome.min.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic')
	body
		div#main(ui-view)
		script(src='javascripts/spin.js')
		script(src='javascripts/lib/jquery/jquery.js')
		script(src='javascripts/lib/jquery/jquery.mask.min.js')
		script(src='javascripts/underscore.js')
		script(src='javascripts/Chart.min.js')
		script(src='javascripts/rainbow.min.js')
		script(src='javascripts/jquery.ui.min.js')
		script(src='javascripts/lib/angular/angular.js')
		script(src='javascripts/angular-timeago-core.js')
		script(src='javascripts/time-ago-language-es_LA.js')
		script(src='javascripts/lib/angular/ng-sortable.js')
		script(src='javascripts/lib/angular/angular-scroll.min.js')
		script(src='javascripts/lib/angular/angular-chart.min.js')
		script(src='javascripts/lib/angular/angucomplete-alt.js')
		script(src='javascripts/lib/angular/angular-resource.js')
		script(src='javascripts/lib/angular/angular-animate.js')
		script(src='javascripts/lib/angular/angular-timer.js')
		script(src='javascripts/lib/angular/angular-ui-router.js')
		script(src='javascripts/lib/angular/mask.min.js')
		script(src='javascripts/lib/angular/angular-cookie.js')
		script(src='javascripts/lib/angular/angular-spinner.js')
		script(src='javascripts/lib/angular/angular-text.js')
		script(src='javascripts/lib/angular/angular-rangy.js')
		script(src='javascripts/lib/angular/angular-sanitize.js')
		script(src='javascripts/lib/angular/angular-map.js')
		script(src='javascripts/lib/angular/angular-upload.js')
		script(src='javascripts/lib/angular/angular-upload-shim.js')
		script(src='javascripts/lib/angular/angular-pagination.js')
		script(src='javascripts/lib/angular/dirPagination.js')
		script(src='javascripts/lib/angular/angular-zoom2.js')
		script(src='javascripts/lib/angular/angular-toastr.min.js')
		script(src='javascripts/lib/angular/angular-toastr.tpls.min.js')
		script(src='javascripts/loading-bar.js')
		script(src='javascripts/humanize-duration.js')
		script(src='javascripts/picker.js')
		script(src='javascripts/picker.date.js')
		script(src='javascripts/picker.time.js')
		script(src='javascripts/bootstrap.min.js')
		script(src='javascripts/jquery.doubleScroll.js')
		script(src='javascripts/jquery.stickytableheaders.js')
		script(src='javascripts/jquery.easing.min.js')
		//script(src='javascripts/classie.js')
		//script(src='javascripts/cbpAnimatedHeader.js')
		//script(src='javascripts/jqBootstrapValidation.js')
		//script(src='javascripts/slippry.js')
		script(src='javascripts/ofi.browser.js')
		script(src='javascripts/myscript.js')
		script(src='javascripts/socket.io.js')
		script(src='javascripts/controllers.js')
		script(src='javascripts/app.js')
		script(src='javascripts/directives.js')
		script(src='javascripts/factories.js')
		script(src='javascripts/metisMenu.min.js')
		script(src='javascripts/angular-multiple-select.js')
		script(async='async', src='//maps.googleapis.com/maps/api/js?key= AIzaSyDFtaMV6PqA8N4nPAzuIt7EsPQyL05kK60')