doctype html
html(lang='es_LA', ng-app='app')
	head
		meta(charset='utf-8')
		meta(name='viewport',content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(name='theme-color',content='#ffaf4b')
		title(ng-bind='title')
		base(href='/')
		link(rel='shortcut icon', href='img/favicon.ico')
		link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
		link(rel="stylesheet", href="bower_components/bootstrap/dist/css/reboot.min.css")
		link(rel="stylesheet", href="bower_components/bootstrap/dist/css/grid.min.css")
		link(rel="stylesheet", href="bower_components/bootstrap-picker/css/default.css")
		link(rel="stylesheet", href="bower_components/bootstrap-picker/css/default.date.css")
		link(rel="stylesheet", href="bower_components/bootstrap-picker/css/default.time.css")
		link(rel="stylesheet", href="bower_components/loading-bar/css/loading-bar.css")
		link(rel="stylesheet", href="bower_components/toastr/css/angular-toastr.min.css")
		link(rel="stylesheet", href="bower_components/prism/min/prism.css")
		link(rel="stylesheet", href="bower_components/iCheck/flat/blue.css")
		link(rel="stylesheet", href="bower_components/morris/morris.css")
		link(rel="stylesheet", href="bower_components/jvectormap/jquery-jvectormap-1.2.2.css")
		link(rel="stylesheet", href="bower_components/datepicker/datepicker3.css")
		link(rel="stylesheet", href="bower_components/daterangepicker/daterangepicker-bs3.css")
		link(rel="stylesheet", href="bower_components/jquery-ui/jquery-ui.min.css")
		link(rel="stylesheet", href="bower_components/multiple-select/angular-multiple-select.css")
		link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="bower_components/ionicons/css/ionicons.min.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="bower_components/ui-carousel/dist/ui-carousel.min.css")
		link(rel="stylesheet", href="bower_components/Croppie/Croppie.css")
		link(rel="stylesheet", href="bower_components/ngCroppie/ng-croppie.min.css")
		// Lib style fonts
		link(href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic',rel='stylesheet',type='text/css')
		// MyStyle
		link(href='assets/css/style.css',rel='stylesheet')
	body
		div#main(ui-view="")
		script(src='bower_components/jquery/jquery-3.1.1.min.js')
		script(src='bower_components/spin/spin.js')
		script(src='bower_components/angular/lib/angular.js')
		script(src='bower_components/angular/lib/angular-spinner.js')
		script(src='bower_components/loading-bar/js/loading-bar.js')
		script(src='bower_components/angular/lib/angular-scroll.min.js')
		script(src='bower_components/angular/lib/angular-resource.js')
		script(src='bower_components/angular/lib/angular-animate.js')
		script(src='bower_components/angular/lib/angular-timer.js')
		script(src='bower_components/angular/lib/angular-ui-router.js')
		script(src='bower_components/angular/lib/angular-cookie.js')
		script(src='bower_components/angular/lib/angular-rangy.js')
		script(src='bower_components/angular/lib/angular-sanitize.js')
		script(src='bower_components/angular/lib/angular-upload.js')
		script(src='bower_components/angular/lib/angular-upload-shim.js')
		script(src='bower_components/angular/lib/angular-pagination.js')
		script(src='bower_components/angular/lib/dirPagination.js')
		script(src='bower_components/angular/lib/angular-toastr.min.js')
		script(src='bower_components/angular/lib/angular-toastr.tpls.min.js')
		script(src='bower_components/angular/lib/multiple-select.js')
		script(src='bower_components/angular/lib/angular-map.js')
		script(src='bower_components/angular/lib/angular-text.js')
		script(src='bower_components/angular/lib/ui-bootstrap-tpls-2.5.0.min.js')
		script(src='bower_components/angular/lib/angucomplete-alt.js')
		script(src='bower_components/angular/lib/angular-scroll.min.js')
		script(src='bower_components/angular/lib/angular-socialshare.js')
		script(src='bower_components/angular/lib/angular-timeago-core.js')
		script(src='bower_components/angular/lib/angular-multiple-select.js')
		script(src='bower_components/angular/lib/ui-carousel.min.js')
		script(async='async', src='//maps.googleapis.com/maps/api/js?key= AIzaSyDFtaMV6PqA8N4nPAzuIt7EsPQyL05kK60')
		//- script(src='bower_components/mdl/js/material.min.js')
		//- script(src='bower_components/angular/lib/angular-material-design-lite.js')
		script(src='bower_components/angular/lib/angular-infinite-scroll.min.js')
		script(src='bower_components/ngSweetAlert/SweetAlert.min.js')

		script(src='bower_components/nicescroll/jquery.nicescroll.js')
		script(src='bower_components/dcjqaccordion/jquery.dcjqaccordion.js')

		script(src='bower_components/toastr/js/toastr.js')
		script(src='bower_components/popper/popper.min.js')

		script(src='bower_components/bootstrap-picker/js/picker.js')
		script(src='bower_components/bootstrap-picker/js/picker.date.js')
		script(src='bower_components/bootstrap-picker/js/picker.time.js')
		script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')

		script(src='bower_components/classie/classie.js')
		script(src='bower_components/ofi.browser/ofi.browser.js')
		script(src='bower_components/nicescroll/jquery.nicescroll.js')
		script(src='bower_components/tagsinput/jquery.tagsinput.js')
		//- script(src='bower_components/bootstrap-switch/bootstrap-switch.js')
		script(src='bower_components/socket/socket.io.js')
		script(src='bower_components/underscore/underscore.js')
		script(src='bower_components/time-ago-language-es_LA/time-ago-language-es_LA.js')
		script(src='bower_components/moment/moment.min.js')
		script(src='bower_components/fastclick/fastclick.min.js')
		script(src='bower_components/sparkline/js/jquery.sparkline.js')
		script(src='bower_components/jvectormap/jquery-jvectormap-1.2.2.min.js')
		script(src='bower_components/jvectormap/jquery-jvectormap-world-mill-en.js')
		script(src='bower_components/slimScroll/jquery.slimscroll.min.js')

		script(src='javascripts/app.js')
		script(src='javascripts/directives.js')
		script(src='javascripts/controllers.js')
		script(src='javascripts/services.js')
		script(src='javascripts/factories.js')

		script(src='bower_components/jquery-ui/jquery-ui.min.js')
		script(src='bower_components/jquery-easing/jquery.easing.1.3.js')
		script(src='bower_components/raphael/raphael-min.js')
		script(src='bower_components/morris/morris.min.js')
		script(src='bower_components/knob/jquery.knob.js')
		script(src='bower_components/daterangepicker/daterangepicker.js')
		script(src='bower_components/datepicker/bootstrap-datepicker.js')
		script(src='bower_components/prism/min/prism-min.js')
		script(src='bower_components/iCheck/icheck.min.js')
		script(src='bower_components/jquery-scrollTo/jquery.scrollTo.min.js')
		script(src='bower_components/sweetalert/dist/sweetalert.min.js')
		
		script(src='assets/js/app.js')
		
		script(src='bower_components/Croppie/croppie.js')
		script(src='bower_components/ngCroppie/ng-croppie.js')
		
		
		
