<div class="ng-ms form-item-container">    
	<ul class="list-inline">        
		<li ng-repeat="item in modelArr">			
			<span ng-if="objectProperty == undefined || objectProperty == ''">				
				{{item}} 
				<span class="remove" ng-click="removeAddedValues(item)">                
					<i class="glyphicon glyphicon-remove"></i></span>			
			</span>            
			<span ng-if="objectProperty != undefined && objectProperty != ''">				
				{{item[objectProperty]}} 
				<span class="remove" ng-click="removeAddedValues(item)">                
					<i class="glyphicon glyphicon-remove"></i>
				</span>			
			</span>        
		 </li>        
		 <li>            
			<input name="{{name}}" ng-model="inputValue" placeholder="" ng-keydown="keyParser($event)"  err-msg-required="{{errMsgRequired}}"  ng-focus="onFocus()" ng-blur="onBlur()" ng-required="!modelArr.length && isRequired"   ng-change="onChange()">
		</li>
	</ul>
</div>
<div class="autocomplete-list" ng-show="isFocused || isHover" ng-mouseenter="onMouseEnter()" ng-mouseleave="onMouseLeave()">
	<ul ng-if="objectProperty == undefined || objectProperty == ''">
		<li ng-class="{'autocomplete-active' : selectedItemIndex == $index}"
			ng-repeat="suggestion in suggestionsArr | filter : inputValue | filter : alreadyAddedValues" 
			ng-click="onSuggestedItemsClick(suggestion)" ng-mouseenter="mouseEnterOnItem($index)">
			{{suggestion}}        
		</li>
	</ul>    
	<ul ng-if="objectProperty != undefined && objectProperty != ''">
		<li ng-class="{'autocomplete-active' : selectedItemIndex == $index}" ng-repeat="suggestion in suggestionsArr | filter : inputValue | filter : alreadyAddedValues" ng-click="onSuggestedItemsClick(suggestion)" ng-mouseenter="mouseEnterOnItem($index)">
			{{suggestion[objectProperty]}}
		</li>
	</ul>
</div>