div
	#carousel.banner.carousel.slide(data-ride="carousel",data-carousel="")
		<!-- Indicators -->
			ol.carousel-indicators
				li(ng-repeat="banners in banners.items",data-target="#carousel",data-slide-to="{{$index}}",class="active",ng-class="{'active': ($index === 0)}")
		<!-- Wrapper for slides -->
			.carousel-inner(role="listbox")
				.item(ng-repeat="banners in banners.items",ng-class="{active: ($index === 0)}")
					img(ng-src="http://50.21.179.35:8083/{{banners.file}}",style="margin:auto;")
		<!-- Controls -->
			span.left.carousel-control(href="#carousel",data-slide="prev",ng-click='prev()',ng-if='flagLeft',style="cursor: pointer;")
				span.glyphicon.glyphicon-chevron-left.white(aria-hidden="true")
				span.sr-only Anterior
			span.right.carousel-control(href="#carousel",data-slide="next",ng-click='next()',ng-if='flagRight',style="cursor: pointer;")
				span.glyphicon.glyphicon-chevron-right.white(aria-hidden="true")
				span.sr-only Siguiente
	.bottom-banner
		.container-fluid
			.col-md-6(style="border-right: 1px solid #ccc;")
				.pull-right
					h4 Diviertete con nosotros 
					span En tus redes sociales favoritas
			.col-md-6
				.pull-left.banner-network-social
				.marT10
					iframe#twitter-widget-0.twitter-follow-button.twitter-follow-button-rendered(scrolling='no', frameborder='0', allowtransparency='true', title='Twitter Follow Button', src='http://platform.twitter.com/widgets/follow_button.b7974b8ae7c1ae9cc22c4e8064c094ca.es.html#dnt=false&id=twitter-widget-0&lang=es&screen_name=Apreciodepana&show_count=true&show_screen_name=false&size=m&time=1507317892396', style='position: static; visibility: visible; width: 169px; height: 20px;', data-screen-name='Apreciodepana')
					script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
				.fb-like.marT5.fb_iframe_widget(data-href='https://www.facebook.com/Apreciodepana/?fref=ts', data-layout='standard', data-action='like', data-show-faces='true', fb-xfbml-state='rendered', fb-iframe-plugin-query='action=like&app_id=1525400224445821&container_width=659&href=https%3A%2F%2Fwww.facebook.com%2FApreciodepana%2F%3Ffref%3Dts&layout=standard&locale=es_LA&sdk=joey&show_faces=true')
					span(style='vertical-align: bottom;width: 100% !important; height: 56px;')
					iframe(name='f9f3488441018',frameborder='0', allowtransparency='true', allowfullscreen='true', scrolling='no', title='fb:like Facebook Social Plugin', src='https://www.facebook.com/v2.5/plugins/like.php?action=like&app_id=1525400224445821&channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FZ2duorNoYeF.js%3Fversion%3D42%23cb%3Df8e9e62466f3c8%26domain%3Dapreciodepana.com%26origin%3Dhttp%253A%252F%252Fapreciodepana.com%252Ff10c429f23d704%26relation%3Dparent.parent&container_width=659&href=https%3A%2F%2Fwww.facebook.com%2FApreciodepana%2F%3Ffref%3Dts&layout=standard&locale=es_LA&sdk=joey&show_faces=true', style='border: none; visibility: visible; width: 100% !important; height: 56px;')
	.content-cat.container-fluid
		.col-xs-12.col-sm-12.col-md-12.col-lg-12
			.row
				.col-xs-12.col-sm-12.col-md-6.col-lg-2.cat-block
					a.pointer(style="text-decoration: none;",ng-click="categorySingle(false)")
						.block-isset
							img.img-responsive.pull-left(ng-src="http://50.21.179.35:8083/square/35/verificado.png",alt="img-cat")
							span.cat-title Tiendas Virtuales
				.col-xs-12.col-sm-12.col-md-6.col-lg-2.cat-block(ng-repeat='itemCat in ParentCat')
					a.pointer(style="text-decoration: none;",ng-click="categorySingle(itemCat._id)")
						.block-isset(ng-class="{'active': active == itemCat._id }")
							img.img-responsive.pull-left(ng-src="http://50.21.179.35:8083/square/35/{{itemCat.picture}}",alt="img-cat")
							span.cat-title {{itemCat.name}}
		.col-xs-12.col-sm-12.col-md-12.col-lg-12(style="margin-top: 20px")
			.row
				.col-xs-12.col-sm-12.col-md-6.col-lg-2.cat-block(ng-repeat='itemCat in listCat')
					a.pointer(ui-sref="base.searchCategories({id: itemCat._id,page: 1})",style="text-decoration: none;")
						.block-isset.sub-cat
							img.img-responsive.pull-left(ng-src="http://50.21.179.35:8083/square/35/{{itemCat.picture}}",alt="img-cat")
							span.cat-title {{itemCat.name}}
	.container-fluid.content-publish
		.col-lg-9.col-md-9.col-sm-12(style="padding:0")
			.content-shadow-border
				.page-header
					span.black Últimas públicaciones 
					span.sub-title Echale un vistazo a las públicaciones más recientes.
				ui-carousel(slides='publications.items', slides-to-show='5', slides-to-scroll='5')
					carousel-item
						.col-md-12.text-center
							a(ui-sref="base.publication({id:item._id})").block-img-carousel
								img.img-responsive.center-block(ng-src='http://50.21.179.35:8083/{{item.photos[0]}}',alt='{{item.name}}',style="height: 120px;object-fit: scale-down;border: 1px solid #ccc;")
							h5(title="{{item.name}}").white-space.black {{item.name}}
							span.price.red(style="font-size: 12px;text-align: center;")
								b
									| Bs {{item.price}}
									sup 00
							span.localities(style="display")
								i.fa.fa-map-marker
								span {{item.localities[1].name}}
							span.times
								i.fa.fa-clock-o
								time-ago(from-time="{{item.startdate}}") 
					carousel-prev
						button.pull-left
							i.fa.fa-caret-left.fa-4x
					carousel-next
						button.pull-right
							i.fa.fa-caret-right.fa-4x
				.text-right
					a(ui-sref="base.list",style="text-decoration: underline;") Ver más
			.content-shadow-border
				.page-header
					span.black Spots publicitarios
					span.sub-title Somos bastante polifacéticos y actuamos en nuestros propios comerciales.
				#SpotsCarousel.carousel.slide(data-ride="carousel")
					ol.carousel-indicators
						li(ng-repeat="page in array track by $index",data-target="#SpotsCarousel",data-slide-to="{{$index}}",ng-class="{'active': $index==0}")
					.carousel-inner
						.item(ng-repeat="page in array track by $index",ng-class="{'active': $index==0}")
							.col-lg-4.col-md-4.col-sm-4.col-xs-4(ng-repeat="items in array[$index]",ng-if="items._id")
								iframe(width="100%",height="150",ng-src="{{trustSrc(items.href)}}",frameborder="0",gesture="media",allow="encrypted-media",allowfullscreen)
								//- <iframe width="560" height="315" src="https://www.youtube.com/embed/d4owW-VmuFY?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
								//- span {{items.title}}
								//- p {{items.description}}
									//- p Thank you, Chicago!
					span.left.carousel-control(role="button",href="#SpotsCarousel",data-slide="prev")
						span.glyphicon.glyphicon-chevron-left.white(aria-hidden="true")
						span.sr-only Previous
					span.right.carousel-control(role="button",href="#SpotsCarousel",data-slide="next")
						span.glyphicon.glyphicon-chevron-right.white(aria-hidden="true")
						span.sr-only Next
		.col-lg-3.col-md-3.col-sm-12(style="padding:0")
			.content-shadow-border.top-publish(style="padding-left: 5px;padding-right: 5px;")
				.page-header.text-center
					span.black Top 5 Vendedores
				ul.list-top
					li(ng-repeat="itemList in users.items",ui-sref="user.publication({id:itemList._id})")
						.col-lg-2.count-list-top(style="padding-right: 0")
							p {{$index+1}}.
						.col-lg-10.col-xs-12(style="padding-left: 0")
							img.img-responsive.img-circle(ng-src="http://50.21.179.35:8083/{{itemList.photo}}",width="50px",height="50px",alt="img")
							span.title-top
							| {{itemList.name}}
							span.rating
							| {{itemList.rating.seller.total}}
							i.fa.fa-thumbs-o-up
			img.img-responsive.publish(ng-src="http://50.21.179.35:8083/anuncio2.jpg")
		//- .col-lg-4.col-md-4.col-sm-12.col-xs-12.pull-right(style="padding-left: 5px;padding-right: 0px;")
				
