#sales
  h4.title 
    span.black Campaña publicitaria
  hr
  .row
    .col-md-12
      .filter-search
        .row
          .col-lg-4.col-md-4
            button.btn.btn-default(type="button",data-dismiss="modal",data-toggle="modal",data-target="#add")
              i.fa.fa-plus-square.fa-fw.black
              | Agregar Mensaje Nuevo
          .col-lg-8.col-md-8.text-right
            span Ventas 1 de 1
            | &nbsp;
            | &nbsp;
            select.form-control.input-sm(style="max-width: 150px;display:inline-block")
              option Más Recientes
              option Menos Recientes
  br
  .content-publication.row(ng-repeat="collections in activesSales.items")
    .col-xs-12.col-sm-6.col-md-2.col-lg-2
      .framework-img
        .condicion-title-float
          span(ng-if="collections.status") Nuevo 
          span(ng-if="!collections.status") Usado
        a(ui-sref="base.publication({id: collections._id})",ng-if="collections.photos[0]")
          img.img-responsive(ng-src="http://50.21.179.35:8083/{{collections.photos[0]}}",alt="framework-img")
        a(ui-sref="user.publication({id: collections.user._id})",ng-if="collections.photo")
          img.img-responsive(ng-src="http://50.21.179.35:8083/{{collections.photo}}",alt="framework-img")
    .col-xs-12.col-sm-6.col-md-7.col-lg-7
      p.details-publications
        span.title
          a(ui-sref="base.publication({id: collections._id})")
            b {{collections.name}}
        br
        span.shop 
          a(ui-sref="user.publication({id: collections.user._id})")
            b {{collections.user.username}}
            b(ng-if="collections.username")  {{collections.name}}
        br
        span.user {{collections.user.name}}
        br
        span.city(ng-if="collections.localities[0]")
          i.fa.fa-map-marker.fa-fw.t12.grisC
          | {{collections.localities[0].name}}
        span.city(ng-if="collections.localities[1]")
          i.fa.fa-map-marker.fa-fw.t12.grisC
          | {{collections.localities[1].name}}
        br
        span.color-apdp(ng-if="collections.joined")
          span
            time-ago.color-apdp(from-time="{{collections.joined}}")
          |  vendiendo en 
          span.color-apdp A Precio De Pana
        span.review(ng-if="!collections.username") 
          i.fa.fa-eye.negro.opacity.fa-fw(style="")
          span {{collections.views}} Visitas
          | &nbsp;
          i.fa.fa-shopping-cart.fa-fw.negro.opacity
          span {{collections.transactions}} Ventas
          | &nbsp;
    .col-xs-12.col-sm-12.col-md-3.col-lg-3.text-right
      div.details-publications2
        span.price.red
          b.pull-right(ng-if="!collections.username")
            | {{collections.price | filterMoney : "Bs" : true}}
            sup 00
          br
          .text-right  
            button.btn.btn-primary.btn-send(type="button",ng-if="!collections.username") Comprar
            .following(ng-if="collections.username")
              btn-follow(ng-model="collections._id",on="collections.youfollow") 
            br
            span.times(ng-if="!collections.username") 
              time-ago(from-time="{{collections.startdate}}")
              //- i.glyphicon.glyphicon-time.opacity
              span
                br
                div(style="margin-top: 0px;")
                  div.like
                    btn-like(like="false")
    .col-xs-12.col-sm-6.col-md-2.col-lg-2
    .col-xs-12.col-sm-12.col-md-12.col-lg-10.pull-right
      .line-horizontal
#add.modal.fade.blue(tabindex="-1",role="dialog",aria-labelledby="add")
  .modal-dialog.modal-md(role="document")
    .modal-content
      form(ng-submit="send.on()")
        .modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span.black(aria-hidden="true") &times;
          img.margin-center(ng-src="http://50.21.179.35:8083/bill-ok.png",alt="bill-ok",width="50px",height="50px")  
          span Crea tu mensaje
        .modal-body.text-center
          .content-shadow
            .content-message
              .row(style="padding-right: 15px;")
                .col-lg-3.col-md-3.col-sm-12.col-xs-12.padding-col-0
                  .manager
                    .redsocial
                      a.pointer(role="button")
                        img.img-responsive.center-block.opacity(ng-src="http://50.21.179.35:8083/{{Auth.user.photo}}",alt="redsocial")
                        i.fa.fa-check-circle.green
                    .text-center
                      | Facebook
                  .manager
                    .redsocial
                      a.pointer(role="button")
                        img.img-responsive.center-block.opacity(ng-src="http://50.21.179.35:8083/silueta-bill.png",alt="redsocial")
                        i.fa.fa-check-circle.green
                    .text-center
                      | FanPage
                  .manager
                    .redsocial
                      a.pointer(role="button")
                        img.img-responsive.center-block.opacity(ng-src="http://50.21.179.35:8083/silueta-bill.png",alt="redsocial")
                        i.fa.fa-check-circle.green
                    .text-center
                      | Twitter
                  .manager
                    .redsocial
                      a.pointer(role="button")
                        img.img-responsive.center-block.opacity(ng-src="http://50.21.179.35:8083/silueta-bill.png",alt="redsocial")
                        i.fa.fa-check-circle.green
                    .text-center
                      | Grupo
                .col-lg-9.col-md-9.col-sm-12.col-xs-12(style="border-left: 1px dashed #CCC;")
                  textarea.text-left(placeholder="Escribe tu mensaje")
                  hr
                  .text-right.count
                    span {{letter.count}}
          br
          br
          .content-shadow
            .panel.panel-default
              #heading.panel-heading
                .row
                  .col-md-8.col-md-offset-2
                    .col-md-6.padding-col-0
                      a(role="button",data-toggle="collapse",data-parent="#time",href="#time",aria-expanded="true",aria-controls="#time")
                        span(style="color: #505050;") Programar Fecha
                        i.fa.fa-calendar.fa-fw.black(style="font-size: 20px;margin-left: 10px;color: #505050;")
                    .col-md-6.padding-col-0(style="border-left: 1px solid #9a9a9a;")
                      a(role="button",data-toggle="collapse",data-parent="#upload-img",href="#upload-img",aria-expanded="false",aria-controls="#upload-img")
                        span(style="color: #505050;") Insertar Imagen
                        i.fa.fa-picture-o.fa-fw.black(style="font-size: 20px;margin-left: 10px;color: #505050;")
              #upload-img.panel-collapse.collapse.text-center(role="tabpanel",aria-labelledby="heading")
                .panel-body
                  .drop-down.text-center
                    span.grey(ng-if="!send.form.files",ngf-drop,ngf-select,ngf-keep="true",ng-model='files',ngf-multiple="true",ngf-accept="'image/png,image/jpeg'",ngf-pattern="'image/png,image/jpeg'") Arrastra tus fotos aqui
                    div(style="position: relative;",ng-repeat="file in send.form.files")
                      i.fa.fa-times.red.pointer(ng-click="send.delete($index)")
                      img.camera-img.pull-left(ngf-src="file")
                    button.pull-left(ng-if="send.form.files",type="button",ngf-drop,ngf-select,ngf-keep="true",ng-model='files',ngf-multiple="true",ngf-accept="'image/png,image/jpeg'",ngf-pattern="'image/png,image/jpeg'")
                      img.camera-img(ng-src="http://50.21.179.35:8083/camara.png")
              hr
              #time.panel-collapse.collapse.in(role="tabpanel",aria-labelledby="heading")
                .panel-body
                  .row  
                    .col-md-3(style="border-right: solid 1px #CCC;")
                      .form-group(style="margin-bottom: 0;")
                        span(style="display: block",role="button",data-toggle="collapse",data-parent="#from",href="#from",aria-expanded="false",aria-controls="#from") Desde
                        input#from.form-control.date-input.picker__input.collapse(type="text",date-picker)
                    .col-md-3(style="border-right: solid 1px #CCC;")
                      .form-group(style="margin-bottom: 0;")
                        span(style="display: block",role="button",data-toggle="collapse",data-parent="#to",href="#to",aria-expanded="false",aria-controls="#to") Hasta
                        input#to.form-control.date-input.picker__input.collapse(type="text",date-picker)
                    .col-md-3(style="border-right: solid 1px #CCC;")
                      .form-group(style="margin-bottom: 0;")
                        span(style="display: block",role="button",data-toggle="collapse",data-parent="#hours",href="#hours",aria-expanded="false",aria-controls="#hours") Hora
                        input#hours.form-control.date-input.picker__input.collapse(type="text",time-picker)
                    .col-md-3
                      .form-group(style="margin-bottom: 0;")
                        span(style="display: block",role="button",data-toggle="collapse",data-parent="#days",href="#days",aria-expanded="false",aria-controls="#days") Dias
                        input#days.form-control.collapse(type="text",data-toggle="collapse",data-parent="#daySelect",href="#daySelect",aria-expanded="false",aria-controls="#daySelect",ng-model="send.form.days")
                        #daySelect.collapse
                          multiple-select(ng-model="send.form.days")
          br
          br
          .row
            .col-md-12.text-right
              button.btn.btn-default(type="reset") Limpiar
              | &nbsp;
              button.btn.btn-primary(type="submit") Guardar
