.row(style="margin-left: 80px;margin-right: 80px;")
  .col-xs-12.col-sm-6.col-md-2.col-lg-2
    img.center-block.img-responsive(ng-src="http://50.21.179.35:8083/{{categories[0].picture}}",style="height: 120px;")
  .col-xs-12.col-sm-6.col-md-10.col-lg-10
    .text-left
      br
      br
      h4.black(ng-repeat="collec in categories track by $index",style="display: inline-block;") 
        | &nbsp
        | {{collec.name}}
        | &nbsp
        i.black.fa.fa-angle-right(ng-if="!categories.length > $index")
      a(ui-sref="publish.one({selector: selector})",style="display: block;")
        | << Anterior
  br
  br
  form(ng-submit="on.submit()")
    .col-xs-12(style="margin-top: 20px;")
      .subtitle  
        b.black Ingresa las fotos de tu producto
        br
        .alert.alert-info(role="alert")
          i.fa.fa-info-circle.fa-fw
          b Recomendación: 
          | Procura que la imagen sea de buena calidad y obtendras mejores resultados en tus ventas.
    .col-xs-12(style="margin-bottom: 20px;")
      div(style="position:relative;display: inline-block;")
        span.delete-img.fa.fa-times.red(ng-click="outPhotos[0]=false",ng-if="outPhotos[0]") 
        .upload-img(ngf-select="PhotoEdit(0)",ng-model="photos[0]")
          img(ngf-src="outPhotos[0]",width="100%",height="100%",ng-if="outPhotos[0]")
          img(ng-src="http://50.21.179.35:8083/camara.png",width="100%",height="100%",ng-if="!outPhotos[0]")        
      div(style="position:relative;display: inline-block;")
        span.delete-img.fa.fa-times.red(ng-click="outPhotos[1]=false",ng-if="outPhotos[1]")
        .upload-img(ngf-select="PhotoEdit(1)",ng-model="photos[1]")
          img(ngf-src="outPhotos[1]",width="100%",height="100%")
          img(ng-src="http://50.21.179.35:8083/camara.png",width="100%",height="100%",ng-if="!outPhotos[1]")          
      div(style="position:relative;display: inline-block;")
        span.delete-img.fa.fa-times.red(ng-click="outPhotos[2]=false",ng-if="outPhotos[2]")
        .upload-img(ngf-select="PhotoEdit(2)",ng-model="photos[2]")
          img(ngf-src="outPhotos[2]",width="100%",height="100%")
          img(ng-src="http://50.21.179.35:8083/camara.png",width="100%",height="100%",ng-if="!outPhotos[2]")        
      div(style="position:relative;display: inline-block;")
        span.delete-img.fa.fa-times.red(ng-click="outPhotos[3]=false",ng-if="outPhotos[3]")
        .upload-img(ngf-select="PhotoEdit(3)",ng-model="photos[3]")
          img(ngf-src="outPhotos[3]",width="100%",height="100%")
          img(ng-src="http://50.21.179.35:8083/camara.png",width="100%",height="100%",ng-if="!outPhotos[3]")        
      div(style="position:relative;display: inline-block;")
        span.delete-img.fa.fa-times.red(ng-click="outPhotos[4]=false",ng-if="outPhotos[4]")
        .upload-img(ngf-select="PhotoEdit(4)",ng-model="photos[4]")
          img(ngf-src="outPhotos[4]",width="100%",height="100%")
          img(ng-src="http://50.21.179.35:8083/camara.png",width="100%",height="100%",ng-if="!outPhotos[4]")        
      div(style="position:relative;display: inline-block;")
        span.delete-img.fa.fa-times.red(ng-click="outPhotos[5]=false",ng-if="outPhotos[5]")
        .upload-img(ngf-select="PhotoEdit(5)",ng-model="photos[5]")
          img(ngf-src="outPhotos[5]",width="100%",height="100%")
          img(ng-src="http://50.21.179.35:8083/camara.png",width="100%",height="100%",ng-if="!outPhotos[5]")
    .col-xs-12(style="margin-top: 20px;")
      .subtitle  
        b.black Colocale un titulo a tu producto
        br
        .alert.alert-warning(role="alert")
          i.fa.fa-info-circle.fa-fw
          b Advertencia:  
          | No debes de ingresar ninguna información de contacto, de lo contrario tu publicación sera excluida de las listas.
    .col-xs-12.col-sm-12.col-md-12.col-lg-6
      .form-group.input-group.has-feedback.col-xs-12
        input.form-control(type="text",ng-model="on.form.name",placeholder="Titulo de la publicación",minlength="10")
        i.form-control-feedback.fv-icon-no-label
        small.help-block(style="display: none;") Por favor introduce un valor válido
        small.help-block(style="display: none;") Por favor introduce un valor
        small.help-block(style="display: none;") Por favor introduce un valor con una longitud válida
    .col-xs-12.col-sm-12.col-md-12.col-lg-6
      .input-group
        .input-group-addon
          input(type="checkbox",ng-model="flag")
        .alert.alert-info(style="font-size: 12px;margin: 0;padding: 8px;")
          | Aceptas compartir automaticamente en tus Redes Sociales 
      br
      .text-center(ng-hide="!flag")
        button.btn.btn-default
          i.fa.fa-facebook-f.fa-fw.black
          | Facebook
          i.fa.fa-check.green.fa-fw
        | &nbsp
        button.btn.btn-default
          i.fa.fa-twitter.fa-fw.black
          | Twitter 
          i.fa.fa-check.green.fa-fw
        | &nbsp
        button.btn.btn-default
          i.fa.fa-thumbs-o-up.fa-fw.black
          | Fan Page
          i.fa.fa-check.green.fa-fw
      br 
    .col-xs-12(style="margin-top: 20px;")
      .subtitle  
        b.black Describe tu producto
        br
        .alert.alert-info(role="alert")
          i.fa.fa-info-circle.fa-fw
          b Recomendación:  
          |  Para mejor exposición utiliza mas imagenes que texto en el detalle de tu publicación.
    .col-xs-12
      text-angular(ng-model="on.form.body",ta-disabled='false')
    .col-xs-12(style="margin-top: 20px;")
      .subtitle(style="margin-bottom: 10px;")  
        b.black Más especificaciones
    .col-xs-12.col-sm-12.col-md-4.col-lg-4 
      .input-group
        span.input-group-addon Condición
        select.form-control(ng-model="on.form.state")
          option(value="0") Nuevo
          option(value="1") Usado
    .col-xs-12.col-sm-12.col-md-4.col-lg-4 
      .input-group
        span.input-group-addon Unidades
        input.form-control(type="number",ng-model="on.form.stock")
        i.form-control-feedback.fv-icon-no-label.glyphicon.glyphicon-remove
      small.help-block(style="display: none;") Por favor introduce un valor
      small.help-block(style="display: none;") Por favor introduce un valor entre 1 y 300
    .col-xs-12.col-sm-12.col-md-4.col-lg-4 
      .input-group
        span.input-group-addon Bs
        input.form-control(type="number",ng-model="on.form.price ")
        i.form-control-feedback.fv-icon-no-label
      small.help-block(style="display: none;") Por favor introduce un valor
      small.help-block(style="display: none;") Por favor introduce un numero decimal válido
      small.help-block(style="display: none;") Por favor introduce un valor válido
    .col-xs-12(style="margin-top: 10px;")
      .checkbox
        label.pull-left(style="margin-top: 8px;") 
          input(type="checkbox",ng-model="waranty")
          | ¿Tu producto cuenta con garantia?
        | &nbsp;
        .form-group.col-lg-2.col-md-2(style="margin-bottom: 0;")
          select.form-control(ng-model="on.form.waranty",ng-if="waranty")
            option(value="-1") A consultar
            option(value="15") 15 Dias
            option(value="30") 1 Mes
            option(value="60") 2 Meses
            option(value="90") 3 Meses
            option(value="180") 6 Meses
            option(value="270") 9 Meses
            option(value="365") 1 Año
            option(value="730") 2 Años
            option(value="1095") 3 Años
            option(value="1825") 5 Años
    .col-xs-12
      .checkbox
        label
          input(type="checkbox",ng-model="on.form.invoice")
          | ¿Entregas factura fiscal?
    .col-xs-12
      .checkbox
        label
          input(type="checkbox",ng-model="on.form.physical")
          | ¿Eres tienda fisica? 
    .col-xs-12.text-right
      button.btn.btn-send.btn-lg(type="submit") Continuar
#Preview.modal.fade.blue(tabindex="-1",role="dialog",aria-labelledby="Preview")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span.black(aria-hidden="true") &times;
        img.margin-center(ng-src="http://50.21.179.35:8083/bill-ok.png",alt="bill-ok",width="50px",height="50px")
        span Edita la foto de tu producto
      .modal-body.text-center
        .center-block.row(ng-if="inputPhotos[i]")    
            ng-croppie(src="inputPhotos[i]",ng-model='outPhotos[i]',update='onUpdate',boundry="{w: 600, h: 600}",viewport="{w: 300, h: 300}",orientation="true",rotation="90",type="square",mousezoom="true",zoom="true",zoomslider="true")
      .modal-footer
        .col-md-12
          button.btn.btn-default(type="button",ngf-select="PhotoEdit(i)",ng-model="photos[i]",ngf-select-disabled="disabled[i]")
            | Cambiar Imagen
          button.btn.btn-primary(type="button",data-dismiss="modal",aria-label="Close")
            | Guardar					
