.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12.content-shadow-border
    .col-xs-12.col-sm-12.col-md-4.col-lg-4
      h3.margin-0.black 
        i.fa.fa-tags.black
        |  Publicaciones Favoritas
    .col-xs-12.col-sm-12.col-md-8.col-lg-8.text-right.padding-col-0.hidden-xs
      .navbar-form.margin-0.padding-col-0(role="filter")
        .btn-group
          button.btn.btn-default
            i.fa.fa-list
          button.btn.btn-default
            i.fa.fa-th-large
        form(ng-submit="send.search()",style="display: inline-block;")
          .input-group
            span.input-group-btn
              button.btn.btn-default(type="submit")
                i.fa.fa-search 
            input.form-control(type="text",placeholder="Buscar",ng-model="send.form.search")
        select#filter2.form-control.input(name="filter2",ng-model="send.form.sort",ng-change="send.filter()")
          option(value="0",ng-selected="true") Más Recientes
          option(value="1") Menos Recientes
          option(value="2") Mayor Precio
          option(value="3") Menor Precio
    .col-xs-12.col-sm-12.col-md-8.col-lg-8.text-right.padding-col-0.hidden-lg.hidden-md.hidden-sm
      .navbar-form.margin-0.text-center(role="filter")
        .col-xs-6.padding-col-0
          form(ng-submit="send.search()",style="display: inline-block;")
            .input-group
              span.input-group-btn
                button.btn.btn-default(type="submit")
                  i.fa.fa-search 
              input.form-control(type="text",placeholder="Buscar",ng-model="send.form.search",ng-change="send.search()")
        .col-xs-6.padding-col-0
          select#filter2.form-control.input(name="filter2")
            option(value="0",ng-selected="true") Más Recientes
            option(value="1") Menos Recientes
            option(value="2") Mayor Precio
            option(value="3") Menor Precio
        .col-xs-12.padding-col-0
          .btn-group
            button.btn.btn-default
              i.fa.fa-list
            button.btn.btn-default
              i.fa.fa-th-large
.row
  .col-md-12
    .content-publication.row(ng-repeat="collections in publications.items")
      .col-xs-12.col-sm-6.col-md-2.col-lg-2
        .framework-img
          .condicion-title-float
            span(ng-if="collections.status") Nuevo 
            span(ng-if="!collections.status") Usado
          img.img-responsive(ng-src="http://50.21.179.35:8083/{{collections.photos[0]}}",alt="framework-img")
      .col-xs-6.col-sm-5.col-md-5.col-lg-5
        p.details-publications
          span.title
            a
              b {{collections.name}}
          br
          span.shop 
            a
              b  {{collections.user.username}}
          br
          span.user {{collections.user.name}}
          br
          span.city(ng-if="collections.localities[0]")
            i.fa.fa-map-marker.fa-fw.t12.grisC
            | {{collections.localities[0].name}}
          span.city(ng-if="collections.localities[1]")
            i.fa.fa-map-marker.fa-fw.t12.grisC
            | {{collections.localities[1].name}}
          br
          span.review.hidden-xs 
            i.fa.fa-eye.negro.opacity.fa-fw(style="")
            span {{collections.views}} Visitas
            | &nbsp;
            i.fa.fa-shopping-cart.fa-fw.negro.opacity
            span {{collections.totalSold}} Ventas
            | &nbsp;
      .col-xs-6.col-sm-4.col-md-5.col-lg-5.text-right.padding-col-0
        div.details-publications2
          span.price.red
            b.pull-right
              | Bs {{collections.price}}
              sup 00
            br
            .text-right
              button.btn.btn-primary.hidden-xs(type="button") Comprar
              br
              span.times 
                time-ago(from-time="{{collections.startdate}}")
                //- i.glyphicon.glyphicon-time.opacity
                //- span
                //-   br
                //-   div(style="margin-top: 0px;")
                //-     div.like
                //-       btn-like(like="collections.favorites",id="collections._id")
      .col-xs-12.hidden-lg.hidden-md.hidden-sm.text-center
        span.review(ng-if="!collections.username") 
          i.fa.fa-eye.negro.opacity.fa-fw(style="")
          span {{collections.views}} Visitas
          | &nbsp;
          i.fa.fa-shopping-cart.fa-fw.negro.opacity
          span {{collections.transactions}} Ventas
          | &nbsp;
          br
          br
      .col-xs-12.hidden-lg.hidden-md.hidden-sm
        button.btn.btn-primary.btn-send.btn-block(type="button",ng-if="!collections.username",data-toggle="modal",data-target="#purchase",ng-click="purchase($index)") Comprar
      .col-xs-12.col-sm-6.col-md-2.col-lg-2
      .col-xs-12.col-sm-12.col-md-12.col-lg-10.pull-right
        .line-horizontal
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center(ng-show="flag")
      ul(ng-show="total>0",uib-pagination,total-items="total",ng-model="currentPage",items-per-page="limit",max-size="5",ng-change="pageChanged()",num-pages="num",class="pagination-sm",boundary-link-numbers="true",rotate="false")  
    .col-md-12(ng-if="total===0")
      .alert.alert-warning.text-center(role="alert")
        i.fa.fa-info-circle.fa-fw
        | {{$parent.info.username}} aun no tiene publicaciones favoritas.
