#sales
  h4.title 
    span.black Mis Ventas
  hr
  .tabs-item
    ul.nav.nav-tabs(role="tablist")
      li(role="presentation",ng-class="{'active': options==0}")
        a(ui-sref="sales.sales({state: 'enabled', page: 1, search: undefined, orderSales: undefined, orderDate: undefined})",aria-controls="enabled",role="tab") 
          | Abiertas 
          span.badge.badge-publicar-before  {{activeTotal}} 
      li(role="presentation",ng-class="{'active': options==1}")
        a(ui-sref="sales.sales({state: 'complete', page: 1, search: undefined, orderSales: undefined, orderDate: undefined})",aria-controls="pause",role="tab") 
          | Cerradas 
          span.badge.badge-publicar-before  {{endedTotal}}
    br
    .filter-search
      .row.hidden-xs
        .col-lg-5.col-md-5
          form(ng-submit="send.search()")
            .input-group
              input.form-control(type="text",placeholder="Buscar",ng-model="send.form.search")
              span.input-group-btn
                button.btn.btn-default(type="submit")
                  i.glyphicon.glyphicon-search
        .col-lg-7.col-md-7.text-right
          .btn-group
            button.btn.btn-default(type="button") Filtrar
            button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
              span.caret
              span.sr-only Toggle Dropdown
            ul.dropdown-menu
              li(ng-click="send.filter(1)",ng-class="{'active': orderSales==1}")
                a.pointer Más Vendidas
              li(ng-click="send.filter(-1)",ng-class="{'active': orderSales==-1}")
                a.pointer Menos Vendidas
          | &nbsp;
          | &nbsp;
          span
            span(ng-if="options===0 &&totalActive>=1") Publicaciones {{limit*currentPage}} de
            span(ng-if="options===1 &&totalComplete>=1") Publicaciones {{limit*currentPage}} de
            span(ng-if="options===0 && totalActive>=1")  {{totalActive}}
            span(ng-if="options===1 && totalComplete>=1")  {{totalComplete}}
          | &nbsp;
          | &nbsp;
          select.form-control.input-sm(style="max-width: 150px;display:inline-block",ng-model="send.form.sort",ng-change="send.filter()")
            option(value="-1",ng-selected="true") Más Recientes
            option(value="1") Menos Recientes
      .row.hidden-lg.hidden-md.hidden-sm
        .col-xs-12(style="padding-bottom: 5px;")
          form(ng-submit="send.search()")
            .input-group
              input.form-control(type="text",placeholder="Buscar",ng-model="send.form.search")
              span.input-group-btn
                button.btn.btn-default(type="submit")
                  i.glyphicon.glyphicon-search
        .col-xs-12
          .col-xs-12.padding-col-0
            .col-xs-6.padding-col-0
              .btn-group
                button.btn.btn-default(type="button") Filtrar
                button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
                  span.caret
                  span.sr-only Toggle Dropdown
                ul.dropdown-menu
                  li(ng-click="send.filter(1)",ng-class="{'active': orderSales==1}")
                    a.pointer Más Vendidas
                  li(ng-click="send.filter(-1)",ng-class="{'active': orderSales==-1}")
                    a.pointer Menos Vendidas
            .col-xs-6.padding-col-0.text-right
              select.form-control.input-sm(style="max-width: 150px;display:inline-block",ng-model="send.form.sort",ng-change="send.filter()")
                option(value="-1",ng-selected="true") Más Recientes
                option(value="1") Menos Recientes
          .col-xs-12.padding-col-0.text-right
            span
              span(ng-if="options===0 &&totalActive>=1") Publicaciones {{limit*currentPage}} de
              span(ng-if="options===1 &&totalComplete>=1") Publicaciones {{limit*currentPage}} de
              span(ng-if="options===0 && totalActive>=1")  {{totalActive}}
              span(ng-if="options===1 && totalComplete>=1")  {{totalComplete}}
      br  
    .tab-content
      #enabled.tab-pane.fade(role="tabpanel",ng-class="{'active in': options==0}")
        .content-publication.row(ng-repeat="collections in itemsActive")
          .col-xs-12.col-sm-6.col-md-2.col-lg-2
            .framework-img
              .condicion-title-float
                span(ng-if="collections.status") Nuevo 
                span(ng-if="!collections.status") Usado
              a(ui-sref="base.publication({id: collections._id})",ng-if="collections.photos[0]")
                img.img-responsive(ng-src="http://50.21.179.35:8083/{{collections.photos[0]}}",alt="framework-img")
              a(ui-sref="user.publication({id: collections.user._id})",ng-if="collections.photo")
                img.img-responsive(ng-src="http://50.21.179.35:8083/{{collections.photo}}",alt="framework-img")
          .col-xs-6.col-sm-5.col-md-5.col-lg-5
            p.details-publications
              span.title
                a(ui-sref="base.publication({id: collections._id})")
                  b {{collections.name}}
              br
              span.shop 
                a(ui-sref="user.publication({id: collections.user._id})")
                  b {{collections.user.username}}
                  b(ng-if="collections.username")  {{collections.name}}
              br
              span.user {{collections.user.name}}
              br
              span.city(ng-if="collections.localities[0]")
                i.fa.fa-map-marker.fa-fw.t12.grisC
                | {{collections.localities[0].name}}
              span.city(ng-if="collections.localities[1]")
                i.fa.fa-map-marker.fa-fw.t12.grisC
                | {{collections.localities[1].name}}
              br
              span.color-apdp(ng-if="collections.joined")
                span
                  time-ago.color-apdp(from-time="{{collections.joined}}")
                |  vendiendo en 
                span.color-apdp A Precio De Pana
              span.review.hidden-xs(ng-if="!collections.username") 
                i.fa.fa-eye.negro.opacity.fa-fw(style="")
                span {{collections.views}} Visitas
                | &nbsp;
                i.fa.fa-shopping-cart.fa-fw.negro.opacity
                span {{collections.transactions}} Ventas
                | &nbsp;
          .col-xs-6.col-sm-4.col-md-5.col-lg-5.text-right.padding-col-0
            div.details-publications2
              span.price.red
                b.pull-right(ng-if="!collections.username")
                  | {{collections.price | filterMoney : "Bs" : true}}
                  sup 00
                br
                .text-right  
                  button.btn.btn-primary.btn-send.hidden-xs(type="button",ng-if="!collections.username") Comprar
                  .following(ng-if="collections.username")
                    btn-follow(ng-model="collections._id",on="collections.youfollow") 
                  br
                  span.times(ng-if="!collections.username") 
                    time-ago(from-time="{{collections.startdate}}")
                    //- i.glyphicon.glyphicon-time.opacity
                    //- span
                    //-   br
                    //-   div(style="margin-top: 0px;")
                    //-     div.like
                    //-       btn-like(like="collections.favorites",id="collections._id")
          .col-xs-12.hidden-lg.hidden-md.hidden-sm.text-center
            span.review(ng-if="!collections.username") 
              i.fa.fa-eye.negro.opacity.fa-fw(style="")
              span {{collections.views}} Visitas
              | &nbsp;
              i.fa.fa-shopping-cart.fa-fw.negro.opacity
              span {{collections.transactions}} Ventas
              | &nbsp;
              br
              br
          .col-xs-12.hidden-lg.hidden-md.hidden-sm
            button.btn.btn-primary.btn-send.btn-block(type="button",ng-if="!collections.username",data-toggle="modal",data-target="#purchase",ng-click="purchase($index)") Comprar
          .col-xs-12.col-sm-6.col-md-2.col-lg-2
          .col-xs-12.col-sm-12.col-md-12.col-lg-10.pull-right
            .line-horizontal
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center(ng-show="flag")
          ul(ng-show="totalActive>0",uib-pagination,total-items="totalActive",ng-model="currentPage",items-per-page="limit",max-size="5",ng-change="pageChanged()",num-pages="num",class="pagination-sm",boundary-link-numbers="true",rotate="false")  
      #finish.tab-pane.fade(role="tabpanel",ng-class="{'active in': options==1}")
        .content-publication.row(ng-repeat="collections in itemsComplete")
          .col-xs-12.col-sm-6.col-md-2.col-lg-2
            .framework-img
              .condicion-title-float
                span(ng-if="collections.status") Nuevo 
                span(ng-if="!collections.status") Usado
              a(ui-sref="base.publication({id: collections._id})",ng-if="collections.photos[0]")
                img.img-responsive(ng-src="http://50.21.179.35:8083/{{collections.photos[0]}}",alt="framework-img")
              a(ui-sref="user.publication({id: collections.user._id})",ng-if="collections.photo")
                img.img-responsive(ng-src="http://50.21.179.35:8083/{{collections.photo}}",alt="framework-img")
          .col-xs-6.col-sm-5.col-md-5.col-lg-5
            p.details-publications
              span.title
                a(ui-sref="base.publication({id: collections._id})")
                  b {{collections.name}}
              br
              span.shop 
                a(ui-sref="user.publication({id: collections.user._id})")
                  b {{collections.user.username}}
                  b(ng-if="collections.username")  {{collections.name}}
              br
              span.user {{collections.user.name}}
              br
              span.city(ng-if="collections.localities[0]")
                i.fa.fa-map-marker.fa-fw.t12.grisC
                | {{collections.localities[0].name}}
              span.city(ng-if="collections.localities[1]")
                i.fa.fa-map-marker.fa-fw.t12.grisC
                | {{collections.localities[1].name}}
              br
              span.color-apdp(ng-if="collections.joined")
                span
                  time-ago.color-apdp(from-time="{{collections.joined}}")
                |  vendiendo en 
                span.color-apdp A Precio De Pana
              span.review.hidden-xs(ng-if="!collections.username") 
                i.fa.fa-eye.negro.opacity.fa-fw(style="")
                span {{collections.views}} Visitas
                | &nbsp;
                i.fa.fa-shopping-cart.fa-fw.negro.opacity
                span {{collections.transactions}} Ventas
                | &nbsp;
          .col-xs-6.col-sm-4.col-md-5.col-lg-5.text-right.padding-col-0
            div.details-publications2
              span.price.red
                b.pull-right(ng-if="!collections.username")
                  | {{collections.price | filterMoney : "Bs" : true}}
                  sup 00
                br
                .text-right  
                  button.btn.btn-primary.btn-send.hiddens-xs(type="button",ng-if="!collections.username") Comprar
                  .following(ng-if="collections.username")
                    btn-follow(ng-model="collections._id",on="collections.youfollow") 
                  br
                  span.times(ng-if="!collections.username") 
                    time-ago(from-time="{{collections.startdate}}")
                    //- i.glyphicon.glyphicon-time.opacity
                    //- span
                    //-   br
                    //-   div(style="margin-top: 0px;")
                    //-     div.like
                    //-       btn-like(like="collections.favorites",id="collections._id")
          .col-xs-12.hidden-lg.hidden-md.hidden-sm.text-center
            span.review(ng-if="!collections.username") 
              i.fa.fa-eye.negro.opacity.fa-fw(style="")
              span {{collections.views}} Visitas
              | &nbsp;
              i.fa.fa-shopping-cart.fa-fw.negro.opacity
              span {{collections.transactions}} Ventas
              | &nbsp;
              br
              br
          .col-xs-12.hidden-lg.hidden-md.hidden-sm
            button.btn.btn-primary.btn-send.btn-block(type="button",ng-if="!collections.username",data-toggle="modal",data-target="#purchase",ng-click="purchase($index)") Comprar
          .col-xs-12.col-sm-6.col-md-2.col-lg-2
          .col-xs-12.col-sm-12.col-md-12.col-lg-10.pull-right
            .line-horizontal
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center(ng-show="flag")
          ul(ng-show="totalComplete>0",uib-pagination,total-items="totalComplete",ng-model="currentPage",items-per-page="limit",max-size="5",ng-change="pageChanged()",num-pages="num",class="pagination-sm",boundary-link-numbers="true",rotate="false")  
