﻿#summary
	h4.title 
		span.black Mi reputación
	hr
	.reputation
		span.blue-apdp
			b Reputación como vendedor
		span.black(ng-if="average == 0")
			br
			| No tienes suficientes calificaciones como vendedor
		br
		uib-progressbar.progress-striped.col-md-6.col-sm-12.col-xs-12.padding-col-0(value="average",max="100",style="margin: 0;")
		p.black.text-left.col-md-12.col-sm-12.col-xs-12.padding-col-0
			span.green
				i.fa.fa-plus-square.fa-fw
				span {{Auth.user.rating.seller.tallied.two}}
			span.red
				i.fa.fa-minus-square.fa-fw
				span {{Auth.user.rating.seller.tallied.one}}
			span.blue
				i.fa.fa-circle.fa-fw
				span {{Auth.user.rating.seller.tallied.zero}}
		.row
			.col-md-6
				span.black(style="margin: 10px 0;display: block;")
					i.fa.fa-shopping-cart.fa-fw.black
					| Ventas Concretas									 
			.col-md-6
	.reputation
		span.blue-apdp
			b Reputación como comprador
		span.black(ng-if="averageB == 0")
			br
			| No tienes suficientes calificaciones como comprador
		br
		uib-progressbar.progress-striped.col-md-6.col-sm-12.col-xs-12.padding-col-0(value="average",max="100",style="margin: 0;")
		p.black.text-left.col-md-12.col-sm-12.col-xs-12.padding-col-0
			span.green
				i.fa.fa-plus-square.fa-fw
				span {{Auth.user.rating.buyer.tallied.two}}
			span.red
				i.fa.fa-minus-square.fa-fw
				span {{Auth.user.rating.buyer.tallied.one}}
			span.blue
				i.fa.fa-circle.fa-fw
				span {{Auth.user.rating.buyer.tallied.zero}}
		.row
			.col-md-6
				span.black(style="margin: 10px 0;display: block;")
					i.fa.fa-shopping-cart.fa-fw.black
					| Compras Concretas									 
			.col-md-6
