.main
	#myCarousel.carousel.slide(data-ride="carousel", bt-carousel)
		.carousel-inner(role="listbox")
			.item(ng-repeat="item in Banner.items track by $index", ng-class="{active: $index == 0}", style="background-image: url(//uploads.deliveryenbahia.com/1000/{{item.file}}), linear-gradient(to bottom right,  rgba(0, 82, 140, 0.7), rgba(209, 37, 21, 0.7) ); height:100%; background-size:cover, cover;background-attachment:fixed;")
		.background-search
			div
				.row.box-input-search(style="color: #fff")
					div(ng-bind-html='value')