select.form-control(ng-change='childOf(0)', ng-model='model[0]')
	option(ng-repeat="item in con[0]", ng-selected="model[0] == item._id", value="{{item._id}}") {{item.name}}
br
select.form-control(ng-change='change(0)', ng-show="con[1]", ng-model='model[1]')
	option(ng-repeat="item in con[1]", ng-selected="model[1] == item._id", value="{{item._id}}") {{item.name}}