div#wrapper
	nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/panel') Panel Administrativo de A Precio de Pana
			a.navbar-brand(ng-if='Auth.isLogged',href='#') {{Auth.user.mail}}
		ul.nav.navbar-top-links.navbar-right
			//li.dropdown(ng-controller='MyNotis')
				a.dropdown-toggle(data-toggle='dropdown',ng-click='clicknotis()')
					i.fa.fa-bell.fa-fw
					i.fa.fa-caret-down
				ul.dropdown-menu.dropdown-alerts(style="padding: 0; height:300px; overflow: auto;")
					li(ng-show='notis.length>0', ng-repeat-start='noti in notis')
						span.unread(ng-show="noti.status==1")
						a(href="{{noti.url}}")
							div
								strong {{noti.subject}}
								span.pull-right.text-muted
									em {{noti.time | date :  'dd-MM-yyyy HH:mm'}}
							div
								| {{noti.message}}
					li.divider(ng-show='notis.length>0',ng-repeat-end="")
					li(ng-hide='notis.length>0')
						a(href="#")
							div
								| No tienes notificaciones
			li.dropdown
				a.dropdown-toggle(data-toggle='dropdown', href='#')
					i.fa.fa-user.fa-fw
					i.fa.fa-caret-down
				ul.dropdown-menu.dropdown-user
					li
						a(data-toggle='modal', ng-click="getUserData();", data-target="#configModal")
							i.fa.fa-gear.fa-fw
							| Configuración
					li.divider
					li
						a(ng-click="logout()")
							i.fa.fa-sign-out.fa-fw
							| Salir
		.navbar-default.sidebar(role='navigation')
			.sidebar-nav.navbar-collapse
				ul#side-menu.nav(ng-show='Auth.isLogged()')
					li
						a(ui-sref='main.banks')
							i.fa.fa-university.fa-fw
							| Bancos
					li
						a(ui-sref='main.banner')
							i.fa.fa-picture-o.fa-fw
							| Banners
					li
						a(ui-sref='main.categories')
							i.fa.fa-list.fa-fw
							| Categorias
					li
						a(ui-sref='main.categoryfaqs')
							i.fa.fa-list.fa-fw
							| Categorias de FAQS
					li
						a(ui-sref='main.faqs')
							i.fa.fa-pencil-square-o.fa-fw
							| FAQS
					li
						a(ui-sref='main.localities')
							i.fa.fa-map-marker.fa-fw
							| Localidades
					li
						a(ui-sref='main.publications')
							i.fa.fa-file-image-o.fa-fw
							| Publicaciones
					li
						a(ui-sref='main.reports')
							i.fa.fa-file-text.fa-fw
							| Informes
					li
						a(ui-sref='main.reviews')
							i.fa.fa-file-text-o.fa-fw
							| Reseñas
					li
						a(ui-sref='main.transactions')
							i.fa.fa-exchange.fa-fw
							| Transacciones
					li
						a(ui-sref='main.spots')
							i.fa.fa-newspaper-o.fa-fw
							| Spots Publicitarios
					li
						a(ui-sref='main.users')
							i.fa.fa-user.fa-fw
							| Usuarios
					li
						a(href="#")
								i.fa.fa-bookmark.fa-fw
								| Contenido
								span.fa.arrow
						ul.nav.nav-second-level
							li
								a(ui-sref="main.termsb") Términos y Condicones (Backend)
							li
								a(ui-sref="maintermsc") Términos y Condicones (Página)
							li
								a(ui-sref="main.privacy") Privacidad
	div#page-wrapper
		div.row
			div(ui-view='')
#configModal.modal.fade(tab-index="-1",role="dialog",aria-labelledby="modalLabel")
	.modal-dialog(role="document")
		.modal-content
			form#formEditUser(ng-submit="put()")
				.modal-header
					button.close(type="button",data-dismiss="modal",aria-label="Cerrar")
						span(aria-hidden="true") &times;
					h4.text-center Configuración
				.modal-body
					//.form-group(ng-show="Users.p.priv == 1")
						.col-xs-12
							label.control-label(for='priv') Privilegio
							select#priv.form-control(ng-model='Users.p.priv',string-to-number)
								option(value='1', ng-selected="Users.p.priv == 1") Administrador
								option(value='2', ng-selected="Users.p.priv == 2") Moderador
								option(value='3', ng-selected="Users.p.priv == 3") Usuario
					.form-group
						.col-xs-6
							label.control-label(for='Usersname') Nombre de Usuario
							input#Usersname.form-control(type='text',ng-model='Users.p.username')
						.col-xs-6
							label.control-label(for='password') Contraseña
							input#password.form-control(type='password',ng-model='Users.p.password')
					.form-group
						.col-xs-6
							label.control-label(for='name') Nombres
							input#name.form-control(type='text',ng-model='Users.p.name')
						.col-xs-6
							label.control-label(for='lastname') Apellidos
							input#lastname.form-control(type='text',ng-model='Users.p.lastname')
					.form-group
						.col-xs-6
							label.control-label(for='document') Cédula
							input#document.form-control(type='text',ng-model='Users.p.document')
						.col-xs-6
							label.control-label(for='phone') Teléfono
							input#phone.form-control(type='text',ng-model='Users.p.phone')
					.form-group
						.col-xs-6
							label.control-label(for='mail') Correo electrónico
							input#mail.form-control(type='text',ng-model='Users.p.mail')
						.col-xs-6
							label.control-label(for='address') Dirección
							input#address.form-control(type='text',ng-model='Users.p.address')
					.form-group
						.col-xs-6
							label.control-label(for='gender') Género
							select#gender.form-control(type='text',ng-model='Users.p.gender')
								option(value='1', ng-selected="Users.p.gender == 1") Masculino
								option(value='2', ng-selected="Users.p.gender == 2") Femenino
						.col-xs-6
							label.control-label(for='localities') Localidades
							locality-picker(model='Users.p.localities')
					.form-group
						.col-xs-6
							label.control-label(for='dob') Fecha de Nacimiento
							input#dob.form-control(ng-model='Users.p.dob', date-picker)
						.col-xs-6
							label.control-label(for='photo') Foto
							button.btn.btn-lg.btn-default.btn-block.drop-box(ngf-select,ng-model='Users.p.photo',ngf-accept="'image/png,image/jpeg'",ngf-pattern="'image/png,image/jpeg'") Arrastra la imagen
							.box-single-preview(ng-show='Users.p.photo.name')
								img.img-preview-med(ngf-src='Users.p.photo')
								span
									a.btn.btn-danger.btn-block(ng-click='Users.p.photo={}')
										span
											i.fa.fa-times.fa-fw
							.box-single-preview(ng-hide='Users.p.photo.name')
								img.img-preview-med(src='http://50.21.179.35:8083/square/500/{{Users.p.photo}}')
					.form-group
						.col-xs-12
							label.control-label(for='cover') Portada
							button.btn.btn-lg.btn-default.btn-block.drop-box(ngf-select,ng-model='Users.p.cover',ngf-accept="'image/png,image/jpeg'",ngf-pattern="'image/png,image/jpeg'") Arrastra la imagen
							.box-single-preview(ng-show='Users.p.cover.name')
								img.img-preview-med(ngf-src='Users.p.cover')
								span
									a.btn.btn-danger.btn-block(ng-click='Users.p.cover={}')
										span
											i.fa.fa-times.fa-fw
							.box-single-preview(ng-hide='Users.p.cover.name')
								img.img-preview-med(src='http://50.21.179.35:8083/square/500/{{Users.p.cover}}')
					.clearfix
				.modal-footer
					button.btn.btn-default(type="reset",data-dismiss="modal") Cancelar
					button.btn.btn-primary(type="submit") Aceptar
script(src='/javascripts/metisMenu.min.js')