span(us-spinner="{radius:30, width:8, length: 16}",spinner-on="showSpinner")
div.mask(ng-show="showSpinner")
.col-xs-12
	.row
		h1.page-header.text-center  Publicaciones
	.row
		//button.btn.btn-primary.btn-block(data-target='#agregar', data-toggle='collapse') Agregar 
		//#agregar.collapse
		h3.text-center Agregar
		form#formPublications.form-horizontal(ng-submit='post()')
			fieldset
				.form-group
					.col-md-6
						label.control-label(for='name') Nombre
						input#name.form-control(type='text',required,ng-model='Publications.a.name') 
					.col-md-6
						label.control-label(for='body') Descripción
						textarea#body.form-control(type='text',required,ng-model='Publications.a.body')
					.col-md-6
						label.control-label(for='stock') Stock
						input#stock.form-control.stock(type='number',required,ng-model='Publications.a.stock', step='any')
					.col-md-6
						label.control-label(for='price') Precio
						input#price.form-control.money(type='number',required,ng-model='Publications.a.price', step='any')
					.col-md-6
						label.control-label(for='startdate') Fecha
						input#startdate.form-control(required,ng-model='Publications.a.startdate' date-picker)
					.col-xs-6
						label.control-label(for='inputName') Categorias
						category-picker(model="Publications.a.categories")
					.col-md-6
						label.control-label(for='state') Estado
						select.form-control(ng-model='Publications.a.state',required)
							option(value="1") Nuevo
							option(value="2") Usado
					.col-md-6
						label.control-label(for='inputfather') Localidad
						locality-picker(model="Publications.a.localities")
					br
					.col-md-12
						label.control-label(for='lat') Ubicación
						ng-map(on-click="mapClick();" center="[{{ Publications.a.lat }}, {{ Publications.a.lng }}]")
							shape(on-click="mapClick();", ng-if="Publications.a.lat", , center="[{{Publications.a.lat}},{{Publications.a.lng}}]", radius="{{ Publications.a.distance * 1000}}",  name="circle", centered="true", stroke-color='#FF0000', stroke-opacity="0.8", stroke-weight="2")
							marker(draggable="true", on-dragend="mapClick();", ng-if="Publications.a.lat", animation="DROP", position="[{{Publications.a.lat}},{{Publications.a.lng}}]")
					.col-xs-12
						label.control-label(for='photos') Imagenes
						button#photos.btn.btn-lg.btn-default.btn-block.drop-box(required, ng-model='Publications.a.files', ngf-select="", ngf-drop="", ngf-multiple="true", ngf-max-files="6", ngf-accept="'image/png,image/jpeg'", ngf-pattern="'image/png,image/jpeg'") Buscar las imagenes
					.col-xs-4(ng-repeat="file in Publications.a.files")
						img.img-responsive.img-preview-med(ngf-src='file')
				.col-xs-12.text-center
					.form-group
						button#limpiar.btn.btn-default(type='reset') Borrar
						button.btn.btn-success(type='submit') Enviar						
	hr
	.row
		h3.text-center  Buscar
		form#formPublications.form-horizontal()
			fieldset
				.form-group
					.col-xs-6
						label.control-label(for='name') Nombre
						input#name.form-control(type='text',ng-change="Publications.get()",ng-model='Publications.s.name')
					.col-xs-6
						label.control-label(for='inputfather') Categoria
						category-picker(change="get();", model="Publications.s.father")
					//.col-md-4
						label.control-label(for='inputfather') Localidad
						locality-picker(change="get();",model="Publications.s.localities")
	.row
		.col-xs-12
			dir-pagination-controls(pagination-id="pag",boundary-links="true",template-url="/static/dirPagination.tpl.html")
	.row
		.col-sm-12
			.table-responsive(double-scroll, wait="Publications.total > 0")
					table.table.table-stripped.table-bordered.table-hover.no-footer(sticky-header, wait="Publications.total > 0")
						thead
							tr
								th
									| Nombre						
								th
									| Precio				
								th
									| Fecha de publicación				
								th
									| Usuario				
								th
									| Editar
								th
									| Eliminar
								th
									| ID
						tbody
							tr(dir-paginate='item in Publications.items | itemsPerPage: Publications.s.limit',pagination-id="pag",current-page="Publications.s.currentPage",total-items="Publications.total")
								td
									| {{item.name}}
								td
									| {{item.price}}
								td
									| {{item.startdate | date : "dd/MM/y"}}
								td
									| {{item.user.mail}}
								td
									button.btn.btn-primary.btn-circle(type='button',ng-click='Publications.setPut(item); load(); ',data-toggle='modal',data-target='#modalEdit')
										i.fa.fa-pencil
								td
									button.btn.btn-danger.btn-circle(type='button',ng-click='Publications.setDelete(item)')
										i.fa.fa-trash
								td
									| {{item._id}}
	.row
		.col-sm-12
			dir-pagination-controls(pagination-id="pag", boundary-links="true", on-page-change="Publications.pageChange(newPageNumber)", template-url="/static/dirPagination.tpl.html")
#modalEdit.modal.fade
		.modal-dialog.modal-lg
			.modal-content
				form#formModalCurrency(ng-submit='put()')
					.modal-header
						button.close(type='button',data-dismiss='modal')
							span(aria-hidden='true') &times;
						h3 Editar						
					.modal-body.row
						.form-group
							.col-md-6
								label.control-label(for='name') Nombre
								input#name.form-control(type='text',ng-model='Publications.p.name') 
							.col-md-6
								label.control-label(for='body') Descripción
								textarea#body.form-control(type='text',ng-model='Publications.p.body')
							.col-md-6
								label.control-label(for='stock') Stock
								input#stock.form-control.stock(type='number',ng-model='Publications.p.stock', step='any')
							.col-md-6
								label.control-label(for='price') Precio
								input#price.form-control.money(type='number',ng-model='Publications.p.price', step='any')
							.col-md-6
								label.control-label(for='startdate') Fecha
								input#startdate.form-control(ng-model='Publications.p.startdate' date-picker)
							.col-md-6
								label.control-label(for='state') Estado
								select.form-control(ng-model='Publications.p.state')
									option(value="1", ng-selected="Publications.p.state == 1") Nuevo
									option(value="2", ng-selected="Publications.p.state == 2") Usado
							.col-xs-6
								label.control-label(for='') Categorias
								category-picker(model="Publications.p.categories")
							//.col-md-6
								label.control-label(for='inputfather') Localidad
								locality-picker(model="Publications.p.localities")
							br
							.col-md-12
								label.control-label(for='lat') Ubicación
								ng-map(on-click="mapClick();" center="[{{ Publications.p.lat }}, {{ Publications.p.lng }}]")
									shape(on-click="mapClick();", ng-if="Publications.p.lat", , center="[{{Publications.p.lat}},{{Publications.p.lng}}]", radius="{{ Publications.p.distance * 1000}}",  name="circle", centered="true", stroke-color='#FF0000', stroke-opacity="0.8", stroke-weight="2")
									marker(draggable="true", on-dragend="mapClick();", ng-if="Publications.p.lat", animation="DROP", position="[{{Publications.p.lat}},{{Publications.p.lng}}]")
						.form-group
							.col-md-12( ng-model='Publications.p.files', ngf-select="", ngf-drop="", ngf-multiple="true", ngf-max-files="6", ngf-accept="'image/png,image/jpeg'", ngf-pattern="'image/png,image/jpeg'")
								br
								label.control-label(for='files') Artículos
								button#files.btn.btn-lg.btn-default.btn-block.drop-box(ng-model='Publications.p.files') Cambiar imagen
								.box-single-preview(ng-hide='Publications.p.files.length > 0' )
									img.img-preview-med(ng-repeat='foto in Publications.p.photos', ng-src='http://50.21.179.35:8083/square/500/{{foto}}')
								.box-single-preview(ng-show='Publications.p.files.length > 0')
									img.img-preview-med(ng-repeat='newFoto in Publications.p.files' ngf-src='newFoto')
					.modal-footer
						button#cerrarModal.btn.btn-danger(type='button', data-dismiss='modal') Cerrar
						button.btn.btn-success(type='submit') Enviar